[submodule "apps/nginx-example"]
	path = apps/nginx-example
	url = https://github.com/mwoodpatrick/learn-terraform-docker-container.git
[submodule "kube/dockerwordpress"]
	path = kube/dockerwordpress
	url = https://github.com/mwoodpatrick/dockerwordpress.git
[submodule "apps/FibonacciSample"]
	path = apps/FibonacciSample
	url = https://github.com/oshokry/FibonacciSample.git
