# This service unit is for testing timer units 
# By David Both
# Licensed under GPL V2
#
# https://opensource.com/article/20/7/systemd-timers
#

[Unit]
Description=Logs system statistics to the systemd journal
Wants=myMonitor.timer

[Service]
Type=oneshot
# Add another task to the service by adding more lines of the form
ExecStart=/usr/bin/free
ExecStart=/usr/bin/lsblk

[Install]
WantedBy=multi-user.target
