[Unit]
Description=Keep WSL clock in sync with NTP service
Requires=ntpdate.service

[Timer]
Unit=ntpdw
# invoke the ntpdate.service unit every minute
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target
